.mb-1 {
    margin-bottom: 0.25rem;
}

section#left {
    width: 45%;
    height: calc(100vh - 2rem);
    padding: 1rem;
    float: right;
    z-index: 1;
}
section#right {
    width: calc(55% - 2rem);
    height: calc(100vh);
    float: right;
    z-index: 0;
}

.map-container {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
    }