div.counter {
    margin: 1.5rem 0 1.5rem 0;

    line-height: 1.4rem;

    span.unit {
        color: #9D9D9D;
    }

    .icon {
        vertical-align: bottom;
        margin-right: 0.5rem;
        color: #9D9D9D;
        font-size: 1.25rem;
    }

    span.number {
        color: #3d3d3d;
        font-weight: 500;
        &.green  {
            color: #59C76F;
        }
    } 
}
